<div id="gisContent">
  <div class="surveyForm">
    <div class="message">
      <div style="text-align: center;"><%= hbr @content.finish_message_text%></div>
    </div>
    <div class="back"><%= link_to '戻る', "#{@node.public_uri}" %></div>
  </div>
</div>
